/**
* CSS Vars
*/

:root {
    /*
    7d1865 header bg service header underline
    e52065 title hover text color
    5a1354 button color
    c21e6d footer color service hover underline
    a01c70 home h1 bg color
    */
}

/**
*   Browser resets
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
*   General/Utility
*/

html {
    height: 100%
}

html, body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/**
*   Nav/Header
*/

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    /* height: 85px; */
    background-color: #7d1865;
}

header .flex {
    justify-content: space-between;
}

.title {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    font-weight: 600;   
    color: #ffffff;
    transition: all 0.2s;
}

.title:hover {
    color: #e52065;
    transform: scale(0.98);
}

.mobile-menu {
    position: absolute;
    right: 5%;
    top: 35%;
    display: none;
    text-align: center;
}

.primary-nav ul {
    display: flex;
    
}

.primary-nav {
    font-size: 0.9rem;
    z-index: 3;
}

.btn {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    border: 2px solid #5a1354;
    color: #5a1354;
    border-radius: 5px;
    padding: 0.1rem 0.4rem;
    box-shadow: 1px 1px 5px 0 #000000;
    background: linear-gradient(to right, #5a1354 50%, #ffffff 50%);
    background-size: 215% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s ease-out;
    -webkit-transition: background-position 0.5s ease-out;
    cursor: pointer;
}

.btn:hover {
    background-position: 2.5% 0;
    color: #e52065;
}

.btn-nav {
    margin-right: 0.5rem;
}

/**
*   Footer
*/

.primary-footer {
    height: 65px;
    padding: .9rem 0;
    background-color: #c21e6d;
}

.primary-footer .flex {
    justify-content: space-between;
}

.footer-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px 5px;
    font-weight: 600;
}

.footer-title:hover {
    color: #000;
}

.footer-nav ul {
    display: flex;
}

.btn-footer {
    font-size: 0.8rem;
    padding: .1rem .4rem;
}

/**
*   Hero
*/

.hero {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    z-index: 2;
    margin: 0 auto;
}

.salon-slideshow::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.6;
}

.hero-content.flex {
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    transform: scale(.7);
}

.hero-content span, .hero-content h3 {
    /*position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%); */
    text-align: center;
    color: #e52065;
}

.hero-content h3 {
    font-size: 1.2rem;
    font-weight: 500;
    z-index: 1;
}

.btn-container ul {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.btn-container {
    /* position: absolute;
    top: 65%; */
    text-align: center;
    height: 100%;
    width: 90%;
    z-index: 1;
}

.hero-btn {
    border: 3px solid #5a1354;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    background: linear-gradient(to right, #5a1354 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.hero-btn a {
    color: #5a1354;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color .6s ease-out;
}

/**
*   Slideshow animation
*/

.salon-slideshow > img {
    color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
}

.salon-slideshow > img:nth-child(1) {
    position: absolute;
    z-index: 0;
    animation: slideshow 18s ease-in-out 0s infinite;
}

.salon-slideshow > img:nth-child(2) {
    position: absolute;
    z-index: -1;
    animation: slideshow 18s ease-in-out 6s infinite;
}

.salon-slideshow > img:nth-child(3) {
    position: absolute;
    z-index: -2;
    animation: slideshow 18s ease-in-out 12s infinite;
}

@keyframes slideshow {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

/**
*   Featured
*/

.home {
    position: relative;
    width: 100%;
}

.home::before {
    content: "";
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.home > h1 {
    background-color: #a01c70;
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#featured::before {
    background-image: url(../images/salon-product-bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.home .flex {
    justify-content: space-around;
    height: auto;
}

.featured-bg::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #3a3535;
    opacity: 0.3;
    z-index: -1;
}

.featured-bg {
    margin: auto;
    height: 100%;
}

.featured-product {
    margin: 6rem 0;
}

.featured-product  a {
    text-decoration: none;
    color: #000000;
    text-shadow: none;
}

.featured-product img {
    border: 3px solid transparent;
    border-radius: 10px;
    height: 12rem;
}

.featured-product p {
    font-size: 3rem;
    text-align: center;
}

.featured-product  a:hover  p {
    color: #5a1354;
}

.featured-product a:hover img {
    border: 3px solid #5a1354;
}

/**
*   Products Page
*/

.products {
    position: relative;
}

.products::before {
    background-image: url(../images/product-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.products::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.3;
    z-index: -1;
}

.products .container {
    padding: 2rem 0;
}

.product-info {
    margin: 1rem auto;
    width: 80%;
}

.product-info img {
    border-radius: 5px;
    /*height: 10rem;*/
    max-height: 100%;
    max-width: 100%;
    padding: 0.2rem;
}

.product-info p {
    padding-top: 0.2rem;
    font-size: 1.2rem;
    text-align: center;
}

.product-image {
    padding: 1rem;
}

.product-image, .info-box {
    width: 100%;
    height: 100%;
    background-color: rgba(58, 53, 53, 0.3);
}

.info-box p {
    padding: 1rem 0.5rem;
}

.products .grid {
    grid-template-columns: 1fr 2fr;
    gap: 0;
}

/**
*   Services
*/

.services {
    position: relative;    
}

.services::before {
    background-image: url(../images/stylist-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.services::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.6;
    z-index: -1;
}

.services .grid {
    gap: 3rem;
}

.service-list {
    padding: 10px 0 25px 0;
    text-transform: uppercase;
    margin-top: 15px;
}

.service-list h1 {
    margin: 15px 0;
    border-bottom: 3px solid #7d1865;
}

.lead {
    font-size: 1.2rem;
    font-weight: 500; 
}

.service-list .service-line {
    padding: 8px 0;
    cursor: default;
}

.service-list .service-line::after {
    display: block;
    content: "";
    border-bottom: 2px solid #c21e6d;
    transform: scale(0);
    transition: transform 1s ease-in-out;
}

.service-list .service-line:hover::after {
    transform: scaleX(1);
}

.left-align {
    float: left;
}

.right-align {
    text-align: right;
}

.service-image {
    padding: 1rem;
}

.service-image img {
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1.5px solid #3d135a;
    box-shadow: 1px 1px 5px 0 #000000;
    max-height: 75%;
    max-width: 75%;
    display: none;
}

/**
*   Stylists
*/

.stylists {
    position: relative;
}

.stylists::before {
    background-image: url(../images/stylist-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.stylists::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.3;
    z-index: -1;
}

.stylists .container {
    padding: 1rem 0;
    
}

.stylists .grid {
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
}

.stylists .grid > *:first-child {
    grid-row: 1 / span 3;
}

.stylists .grid > *:nth-child(2) {
    grid-row: 1 / span 2;
}

.stylist-info {
    margin: 2rem 4rem;
}

.stylist-headshot {
    padding: 1.2rem;
    text-align: center;
}

.stylist-headshot, .stylist-bio, .book-now {
    box-shadow: 0px 0px 2px 1px #3a3535;
    height: 100%;
    background-color: rgba(160, 28, 112, 0.3);
}

.stylist-headshot img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
}

.stylist-headshot h1 {
    font-size: 2rem;
}

.stylist-bio {
    padding: 1rem;
    line-height: 2rem;
    font-size: 1.25rem;
}

.book-now {
    position: relative;
    padding: 4rem 0;
    text-align: center;
}

.btn-book-bio {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: .6rem .8rem;
}

/**
*   Book now
*/


.book {
    position: relative;
    
}

.book::before {
    background-image: url(../images/book-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    filter: blur(4px);
}

.book::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(0);
    background-color: #302c2c;
    opacity: 0.3;
    z-index: -1;
}

.book .container {
    padding: 1.5rem 1.75rem;
}

.book .grid {
    gap: 30px;
}

.info-container {
    line-height: 1.4rem;
    
}

.info-container > h2 {
    display: inline-block;
    border-bottom: 2px solid #5a1331;
}

.book form {
    width: 80%;
    margin: auto;
}

.book-container {
    font-size: 0.8rem;
    border: 2px solid #5a1331;
    padding: 1rem;
    line-height: 1rem;
}

iframe {
    margin: 1.3rem auto;
    box-shadow: 1px 1px 5px 0 #000000;
    display: block;
}

.book-container div, .book-container label {
    clear: both;
    float: left;
}

.book-container div {
    padding-bottom: 0.6rem;
    padding-top: 0.6rem;
    border-bottom: 2px solid #5a1331;
    width: 100%;
}

.book-container div:first-of-type {
    padding-top: 0;
}

.book-container div:last-of-type {
    border-bottom: none;
}

.book-container input {
    float: left;
}

#first-name, #last-name, #service-select > select, #book-datetime > input, #comment > textarea {
    height: 0.9rem;
    font-size: 0.8rem;
}

#choose-stylist, #service-select {
    display: flex;
    flex-direction: column;
}

#choose-stylist li {
    margin-top: 0.3rem;
}

#service-select > select {
    font-size: 0.7rem;
    margin-top: 0.3rem;
    width: 50%;
}

#service-select > select:first-child {
    margin-top: 0;
}

#book-datetime > input {
    font-size: 0.7rem;
    margin-right: 0.3rem;
}

#invalid-time, #valid-time {
    display: none;
}

#bookTime:invalid ~ #invalid-time {
    padding-left: 0.1rem;
    color: #ff0000;
    display: inline-block;
}
  
#bookTime:valid ~ #valid-time {
    padding-left: 0.1rem;
    color: #00ff00;
    display: inline-block;
}

#comment > textarea {
    margin-top: 0.3rem;
    height: 3.5rem;
    max-width: auto;
    resize: none;
}

#book-button {
    margin-top: 0.6rem;
}

.btn-book {
    font-size: 0.9rem;
    font-weight: 500;
}

/**
*   Small screen Friendly
*/

@media only screen and (max-width: 1225px) {
    /* header and footer */
    /* header {
        height: 120px;
    } */

    header .flex {
        flex-direction: column;
        justify-content: space-around;
    }

    .primary-nav {
        margin-top: 1rem;
    }

    .primary-footer {
        height: 100px;
    }

    .primary-footer .flex {
        flex-direction: column;
        justify-content: space-around;
    }

    /* Featured Products and Products Page */

    .home .flex {
        flex-wrap: wrap;
    }

    .product-info {
        flex-direction: column; 
    }

    /* Stylists*/

    .stylists .grid {
        grid-template-rows: auto auto;
        align-items: flex-start;
    }

    .stylist-headshot img {
        max-width: 60%;
        padding: 0;
    }

    .stylist-info {
        margin: 3rem 4rem;
    }

    .stylist-bio {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .stylists .grid > *:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .stylists .grid > *:nth-child(2) {
        grid-row: 2;
    }

    /*Services*/

    .services .container {
        padding: 0 40px;
    }

    /*Book*/

    .book .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .book .information {
        margin: 0 4rem;
    }

}

/**
*   Mobile Friendly
*/

@media only screen and (max-width: 850px) {

    /*Mobile Menu, nav, and header*/
    .mobile-menu {
        display: block;
        cursor: pointer;
        transform-origin: center;
        transition: transform 0.5s ease-in-out;
    }

    .line {
        width: 1.25rem;
        height: 4px;
        margin-bottom: 0.2rem;
        border-radius: 10px;
        background: #fff;
        transition: transform 0.5s ease-in-out;
    }

    .mobile-menu.menu-open {
        transform: rotate(360deg);
    }

    .mobile-menu.menu-open .line:nth-child(1) {
        transform: rotate(45deg) translate(6px, 6px);
    }

    .mobile-menu.menu-open .line:nth-child(2) {
        display: none;
    }

    .mobile-menu.menu-open .line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .footer-nav {
        display: none;
    }

    header {
        padding: 0;
    }

    header .flex {
        justify-content: space-between;
    }

    .title {
        margin: 1rem;
    }

    .primary-nav {
        /* margin-top: 14rem; */
        position: absolute;
        text-align: left;
        margin: 0;
        top: 100%;
        left: 0;
        background: #7d1865;
        width: 100%;
        transform: scale(1, 0);
        transition: transform 400ms ease-in-out;
        transform-origin: top;
    }

    .primary-nav ul {
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .primary-nav li {
        margin-bottom: 1.2em;
        margin-left: 1em;
    }

    .primary-nav a {
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    .primary-nav.menu-expand {
        transform: scale(1, 1);
    }

    .primary-nav.menu-expand a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

    /*Hero and Featured*/
    .hero {
        height: 1000px;
    }

    .hero-content .container {
        padding: 0;
    }

    .btn-container {
        /* top: 50%; */
        width: 50%;
    }

    .btn-container ul {
        flex-direction: column;
    }

    .btn-container li {
        margin: 2rem 0;
    }

    .featured-product {
        margin: 25px 0;
    }

    /*Products*/

    .products .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .info-box p {
        padding: 0.5rem 1rem;
    }

    /*Stylists*/

    .stylists .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        align-items: flex-start;
    }

    .stylist-info {
        margin: 3rem auto;
        width: 85%;
    }

    .stylist-bio {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .stylists .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .stylists .grid > *:nth-child(2) {
        grid-row: 2;
    }

    /*Services*/

    .service-image {
        display: none;
    }

    .services .grid {
        grid-template-columns: 1fr;
    }

    /*Book*/

    .book .grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    .book .information {
        margin: 0;
    }

    .information iframe {
        width: 90%;
    }

    .info-container {
        text-align: center;
    }

    .book form {
        margin: 0;
    }

}